@media  screen and ( max-width: 1030px){
    
body{
    overflow-x: hidden;
    position:relative; 
    
}

.head{
    display: block;
}


.positionLinkRight.is-visible{
    animation: slideInRight 1.05s ease-in-out forwards;
}

.positionLinkLeft.is-visible{
    animation: slideInLeft 1.05s ease-in-out forwards;
}

/*********************/
/*********************/
/* FIRST CONTAINER */
/*********************/
/*********************/

.head-links{
    display: none;
}

.first-inner{
    padding: 45px;
    
}

.head-logo-and-links{
    padding: 5px 20px;
    margin-left: 0px;   
}

.home-content-container{
    display: block; 
    width: 100%;
}

.button-container {
    gap: 20px;
    margin-top: 17.5px;
}

.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.div1 h1{
    font-size: 30px;
    text-align: center;
}

.div1 p{
    font-size: 22px;
    text-align: center;
}

.break{
    display: none;
}

.link-buttons a{
    color: white;
    text-decoration-line: none;
    background: #00C9DB;
    padding: 13px 25px;
    background: #00C9DB;
    border-radius: 16px;
    font-weight: 600;
    transition: 0.4s;
    
}

.link-buttons a:hover{
    color: #00C9DB;
    text-decoration-line: none;
    border: 1px solid #00C9DB;
    padding: 13px 25px;
    background: transparent;
    border-radius: 16px;
    font-weight: 600;
    cursor: pointer;
    
}

.div2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 85px;
}

.div2 img{
    width: 100%;

}


/*********************/
/*********************/
/* THIRD CONTAINER */
/*********************/
/*********************/

.lenoDesign{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 19px;
}

.configure1{
    
    float: none;
    width: 100%;
    
}
.configure2{
    float: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.configure2 img{
    width: 70%;
    padding: 25px;
}

.configure3{
    float: none;
    width: 100%;  
}

.ForTablets{
    display: none;
    
}
.configure1a{
   width: 100%;
   margin-bottom: 15px;
   flex-direction: row-reverse;
    
}

.configure1ai {
    width: 88%;
    margin-left: 0;
    padding-left: 10px;
    
 }

.configure1ai h4{
    text-align: start;
    padding-left: 0px;
 }
 
 
 .configure1ai p{
     text-align:start ;
     font-size: 17px;
     padding-left: 0px;
  }

  .configure1aii{
    width: 12%;
  }

  .configure2{
    margin-bottom: 50px;
  }

 .configure3a{
    width: 100%;
    display: flex;
    margin-bottom:15px ;
    
}

.configure3ai {
    width: 88%;
    padding-left: 10px;
 }
.configure3aii{
    width: 12%;
}

.configuring{
    padding-bottom: 30px;
    padding-left: 45px;
}
    
   
.track{
    display: block; 
}

.trackingImg{
    width: 100% !important;
}

.trackingImg img{
       width: 50%;
       padding-top: 30px;
       padding-bottom: 30px;
       padding-left: 40px;  
}


.trackingOtherText{
    display: block;
    padding-left: 20px;
 }

 .trackingHeaderText h1{
    padding-left: 40px;
}

.trackingHeaderText p{
    padding-left: 40px;  
}


.monitor{
    display: block;
  }


  .monitoringImg{
    width: 100%;
    padding-left: 40px;
  }

  .monitoringImg img{
    width: 50%;
  }

  .monitoringFooterText h1 , .monitoringFooterText p{
    padding-left: 40px;
  }





/*********************/
/*********************/
/* FOURTH CONTAINER */
/*********************/
/*********************/

.fourth-inner{
    padding-bottom: 50px; 
}

.previewText p{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 23px;
    line-height: 30px;
}

.previewVideo{
    width: 100%;
    align-items: center;
}
.previewinner{
    margin: 25px;
    height: 400px;   
}

.play{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid lightseagreen;
    padding: 30px 35px;
    background-color: transparent;
    transition: ease-in-out 0.5s;
}

.play a{
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    color: white;
    width: inherit;
    text-decoration-line: none;
}

.play:hover{
    cursor: pointer;
    background-color:#00C9DB; 
}

/*********************/
/*********************/
/* Fifth CONTAINER */
/*********************/
/********************/


.details{
    flex-direction: column;
    padding-top: 60px;
    padding-left: 50px;
}

.detailsImg{
    padding-left: 10px;
}

.detailsText{
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 60px;
}

.detailsText p{
   line-height: 35px;
   font-size: 26px;
   padding-right: 15px;
}

#calendars{
    padding-left: 50px;
    
}


/*********************/
/*********************/
/* SEVENTH CONTAINER */
/*********************/
/*********************/


.SEVENTH-inner{
    display: block;
    padding-top: 30px ;
}

.Seventh-image{
    text-align: center;
    padding-top: 70px;
}

.Seventh-text{
    padding-top: 70px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*********************/
/*********************/
/* EIGHT-CONTAINER */
/*********************/
/********************/

.EIGHT-INNER{
    display: block;
} 

.about{
   padding-bottom: 20px;
}

.liinks{
    padding-bottom: 20px;
}

.social{
    padding-top: 20px;
    text-align: left;
    margin-bottom: 0px;
}

.social-text{
    padding-top: 20px;
    text-align: left;
    padding-bottom: 0;
}

.copywright{
    text-align: left;
    padding-left: 50px;
    margin-top: 0;
}





















































}